In [15]:
import pandas as pd
d = {
   'one': pd.Series([10,20,30,40], index=['a','b','c','d']),
   'two': pd.Series([50,60,70,80], index=['a','b','c','d']),
   'three': pd.Series([90,100,110,120], index=['a','b','c','d'])
}
df = pd.DataFrame(d)
print(df)

   one  two  three
a   10   50     90
b   20   60    100
c   30   70    110
d   40   80    120

## Working with missing data:-

## 1. Detecting missing values
## 2. Dropping missing values

In [6]:
import pandas as pd
import numpy as np
df_dropped_rows = df.dropna()
print(df_dropped_rows)
print("***********************")
print("***********************")
df_dropped_columns = df.dropna(axis=1)
print(df_dropped_columns)

     A    B     C
3  4.0  8.0  12.0
***********************
***********************
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

## 3. Filling missing values
## 4. Replacing missing values

In [ ]:
import pandas as pd
import numpy as np
missing_count = df.isnull().sum()
print("Count of missing values using isnull().sum():")
print(missing_count)
print("**************")
print("*****************")

## 5. Interploting missing values
## 6. Counting missing values :-
### (a) isnull().sum():This rxpression returns the count of missing valuse in each column of the data frame.
### (b) count():This function returns are count of non-missing value in each column.

In [2]:
import pandas as pd
import numpy as np
data = {'A': [1,2, np.nan, 4],
        'B': [np.nan, np.nan, np.nan,8],
        'C': [np.nan, 10, 11, 12]}
df = pd.DataFrame(data)
print(df)
print(df.isnull())
print(df.isnull().any())
print(df.isnull().all())

     A    B     C
0  1.0  NaN   NaN
1  2.0  NaN  10.0
2  NaN  NaN  11.0
3  4.0  8.0  12.0
       A      B      C
0  False   True   True
1  False   True  False
2   True   True  False
3  False  False  False
A    True
B    True
C    True
dtype: bool
A    False
B    False
C    False
dtype: bool

In [3]:
import pandas as pd
import numpy as np
data = {'A': [1,2, np.nan, 4],
        'B': [np.nan, np.nan, np.nan,8],
        'C': [np.nan, 10, 11, 12]}
df = pd.DataFrame(data)
a=df.fillna(8)
print(a)
b=df.fillna(df.mean())
print(b)
c=df.fillna(method='bfill')
print(c)

     A    B     C
0  1.0  8.0   8.0
1  2.0  8.0  10.0
2  8.0  8.0  11.0
3  4.0  8.0  12.0
          A    B     C
0  1.000000  8.0  11.0
1  2.000000  8.0  10.0
2  2.333333  8.0  11.0
3  4.000000  8.0  12.0
     A    B     C
0  1.0  8.0  10.0
1  2.0  8.0  10.0
2  4.0  8.0  11.0
3  4.0  8.0  12.0

C:\Users\Aditya Rana\AppData\Local\Temp\ipykernel_13448\4093263524.py:11: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  c=df.fillna(method='bfill')

In [1]:
import pandas as pd
import numpy as np
data ={
    "Name" : ["John","Emma", "Ryan"],
    "Age"  :[25,24,30],
    "City" : ["New York " ,"Paris", "Delhi"]

_IncompleteInputError: incomplete input (920737142.py, line 7)