# 2nd Assignment Programs

### 11. Write a code to create a tuple with the elements 100,200,300 print it.

In [25]:
Numbers=(100,200,300)
print(Numbers)

(100, 200, 300)

### 12. Write a code to access the second-to-last element of the tuple("red","green","blue","yellow").

In [9]:
Colour=('red','green','blue','yellow')
second_to_last=Colour[-1]
print("The second to last elements is:",second_to_last)

The second to last elements is: yellow

### 13. Write a code to find the minimum number in the tupe (10,20,5,15).

In [11]:
a=(10,20,5,15)
print(min(a))

5

### 14. Write a code to find index of the element "cat" in the tuple ("dog","cat","rabbit").

In [2]:
a=('Dog','Cat','Rabbit')
index=a.index('Cat')
print(index)

1

### 15. Write a code to create a tuple contaning three different fruits and check if "kiwi" in it.

In [13]:
fruits=('Apple','Banana','Kiwi')
print('Kiwi' in fruits)

True

### 16. Write a code to create a set with the elements 'a',b','c' and print it.

In [17]:
Set={'a','b','c','d'}
print(Set)

{'c', 'b', 'a', 'd'}

### 17. Write a code to clear all elements from the set {1,2,3,4,5}.

In [20]:
Set={1,2,3,4}
Set.clear()
print(Set)

set()

### 18. Write a code to remove the element 4 from the set {1,2,3,4,5,6}.

In [22]:
a={1,2,3,4,5,6}
a.remove(4)
print(a)

{1, 2, 3, 5, 6}

### 19. Write a code to find the union of two sets {1,2,3} and {3,4,5}.

In [25]:
a={1,2,3}
b={4,5,6}
union_set=a.union(b)
print(union_set)

{1, 2, 3, 4, 5, 6}

### 20. Write a code to fine the intersection of two sets {1,2,3,} and {4,5,6} and print it .

In [26]:
a={1,2,3}
b={2,3,4}
intersection_set=a.intersection(b)
print(intersection_set)

{2, 3}

### 21. Write a code to create a dictionary with the keys "Name","age","city" and print it.

In [27]:
a={"Name":"Aditya Rana","Age":"19","City":"Chamba"}
print(a)

{'Name': 'Aditya Rana', 'Age': '19', 'City': 'Chamba'}

### 22. Write a code to add a new key-value pair "countey":"USA" to the dictionary {"Name":,John","Age":"30"}

In [33]:
a={"Name":"John","Age":"25"}
a["Country"]="USA"
print(a)

{'Name': 'John', 'Age': '25', 'Country': 'USA'}

### 23. Write a code to remove the key "age" from the dictionary ,{"Name":,Alice","Age":"23"}

In [23]:
a={"Name":"Bob","Age":"22","City":"New York"}
del a["Age"]
print(a)

{'Name': 'Bob', 'City': 'New York'}

### 24. Write a code to access the value associated with the key "Name":"Alice";"Age":"20".

In [2]:
a={"Name":"Alice","Age":"20"}
name = a["Age"]
print(name)

20

### 25. Write a code to check if the key "city" exist in the dictionary {"Name":"Alice","Age":"20,"City":"New York"}.

In [3]:
a={"Name":"Alice","City":"New York"}
print ("City" in a)

True

### 26. Write a code to create a list ,a tuple and dictionary,and print them all.

In [6]:
a={"Name":"Edan","Age":"20","City": "Pantagone"}
b=[1,2,3,4,5,6]
c=(1000,2000,3000)
print(a)
print(b)
print(c)

{'Name': 'Edan', 'Age': '20', 'City': 'Pantagone'}
[1, 2, 3, 4, 5, 6]
(1000, 2000, 3000)

### 27. Write a code create a list of 5 random numbers between 1 and 100,sort it in ascending order, and print the result.

In [1]:
import random
numbers = random.sample(range(1,101,),5)
numbers.sort()
print(numbers)

[56, 59, 70, 84, 89]

### 28. Write a code to create a list with strings and print the element at the third index.

In [3]:
words =["Apple","Banana","Cherry","Date","fig"]
print(words[3])

Date

### 29. Witer a code to combine two dictionaries into one and print the result.

In [4]:
dict1={"a":1,"b":2}
dict2 ={"c":3,"d":4}
combined ={**dict1,**dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### 30. Write a code to convert a list of string into a set.

In [6]:
string =["Apple","Banana","Cherry"]
string =set(string)
print(string)

{'Cherry', 'Banana', 'Apple'}