## Create a series:-

### 1. Create a Pandas Series with values with values[10,20,30,40,50] and index[a,b,c,d,e]

In [8]:
import pandas as pd
s1 = pd.Series([10, 20, 30, 40, 50], 
index=['a', 'b', 'c', 'd', 'e'])
s1

a    10
b    20
c    30
d    40
e    50
dtype: int64

## Accessing Elements:-

### 2. Access the third element of the series created in question 1. Access all elements from index 'b' to 'd'.

In [5]:
third_element = s1.iloc[2]
slice_bd = s1.loc['b':'d']
third_element, slice_bd

(np.int64(30),
 b    20
 c    30
 d    40
 dtype: int64)

## Operations on Series:-

### 3. Add a series with values[1,2,3,4,5] to the series created in question 1. Multiply the series by 2.

In [10]:
s2 = pd.Series([1, 2, 3, 4, 5], 
index=['a', 'b', 'c', 'd', 'e'])
added = s1 + s2
multiplied = s1 * 2

added, multiplied

(a    11
 b    22
 c    33
 d    44
 e    55
 dtype: int64,
 a     20
 b     40
 c     60
 d     80
 e    100
 dtype: int64)

## Filtering values:-

### 4. Filter and print only the value greater then 30 from the series a forward fill to fill the missing value.

In [11]:
filtered = s1[s1 > 30]
filtered

d    40
e    50
dtype: int64

## Missing Value:-

### 5. Create a new series with values [1,2,np.nan,4,5] and perform a forward fill the missing value.

In [14]:
import numpy as np

s3 = pd.Series([1, 2, np.nan, 4, 5], index=['Volvo', 'BMW', 'Audi', 'Ferrai', 'Tata'])
ffill = s3.ffill()
ffill

Volvo     1.0
BMW       2.0
Audi      2.0
Ferrai    4.0
Tata      5.0
dtype: float64

## Statistics:-

### 6. Calulate the mean and standard deviation of the series created in question 1.

In [13]:
mean_s1 = s1.mean()
std_s1 = s1.std()
mean_s1, std_s1

(np.float64(30.0), np.float64(15.811388300841896))

## Changing values:-

### 7. Update the value at index 'c' in the Series created in question 1 to 35.

In [15]:
s1_updated = s1.copy()
s1_updated.at['c'] = 35
s1_updated

a    10
b    20
c    35
d    40
e    50
dtype: int64

## Sorting:-

### 8. Sort the series created in the question 1 in descending order.

In [16]:
sorted_desc = s1.sort_values(ascending=False)
sorted_desc

e    50
d    40
c    30
b    20
a    10
dtype: int64

## Check for null values.

### 9. Check if there are any null values in the series created in question 5.

In [17]:
s3.isnull().any()

np.True_

## Combining Series:-

### 10. Create two series with different values but some common indices.Concatenate them into a single series.

In [19]:
s4 = pd.Series([100, 200, 300], index=['b', 'c', 'f'])
s5 = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
combined = pd.concat([s4, s5])
combined

b    100
c    200
f    300
a     10
b     20
c     30
dtype: int64

## Renaming index:-

### 11. Rename the index of the series created in question 1 to[apple,banana,cherry,date,elderberry].

In [20]:
s1_renamed = s1.copy()
s1_renamed.index = ['apple', 'banana', 'cherry', 'date', 'elderberry']
s1_renamed

apple         10
banana        20
cherry        30
date          40
elderberry    50
dtype: int64

## Basic Operations:

In [21]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 29],
    'Score': [85, 92, 88, 76, 95]
})
head_df = df.head()
info_df = df.info(verbose=False)
ages = df['Age']

head_df, ages

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Columns: 3 entries, Name to Score
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

(      Name  Age  Score
 0    Alice   24     85
 1      Bob   27     92
 2  Charlie   22     88
 3    David   32     76
 4      Eva   29     95,
 0    24
 1    27
 2    22
 3    32
 4    29
 Name: Age, dtype: int64)

## Data